<div class="navbarbox">
  <nav class="navbar">
    <ul class="navbarul">
      <li><%= link_to 'Bienvenue', welcome_path, class: 'navbarli' %></li>
      <li><%= link_to 'Accueil', home_path, class: 'navbarli' %></li>
      <li><%= link_to "Les chambres d'hôte", rooms_path, class: 'navbarli' %></li>
      <li><%= link_to 'Activités', activities_path, class: 'navbarli' %></li>
      <li><%= link_to 'Nous contacter', contact_path, class: 'navbarli' %></li>
    </ul>
  </nav>
</div>
