<h1>Demande de réservation</h1>

<%= form_with url: create_reservation_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :name, "Votre nom" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :room, "Chambre souhaitée" %><br>
    <%= f.text_field :room %>
  </div>

  <div>
    <%= f.label :date, "Date souhaitée" %><br>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.submit "Envoyer la demande" %>
  </div>
<% end %>
