<%= render "components/navbar" %>
<%= render "components/backgroundheader"%>
<h2>Réserver la chambre : <%= @room.title %></h2>

<%= form_with model: [@room, @reservation], local: true do |f| %>
  <div class="field">
    <%= f.label :full_name, "Nom complet" %><br>
    <%= f.text_field :full_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :email, "Adresse e-mail" %><br>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "Numéro de téléphone" %><br>
    <%= f.telephone_field :phone_number, required: true %>
  </div>

  <div class="field">
    <%= f.label :date_range, "Dates de réservation" %><br>
    <%= text_field_tag :date_range, nil,
      data: {
        controller: "calendar",
        calendar_unavailable_dates_value: @unavailable_dates.to_json
      },
      class: "datepicker",
      autocomplete: "off",
      required: true %>
  </div>

  <%= f.submit "Réserver", class: "btn btn-primary" %>
<% end %>
<%= render "components/footer" %>
