<%= render "components/navbar" %>
<%= render "components/backgroundheader" %>
<section class="rooms-wrapper">
<% @rooms.each do |room| %>
  <div class="room-card" data-controller="reveal parallax" data-reveal-target="item">
    <% if room.image_paths.any? %>
      <div class="carousel-container">
        <div data-controller="carousel" class="carousel">
          <div class="carousel__track" data-carousel-target="track">
            <% room.image_paths.each do |src| %>
              <div class="carousel__slide">
                <%= image_tag src,
                      alt: room.title,
                      loading: "lazy",
                      class: "img_carousel",
                      data: {
                        action: "click->lightbox#open",
                        lightbox_image_url: asset_path(src),
                        parallax_target: "image"
                      } %>
              </div>
            <% end %>
          </div>

          <button class="carousel__btn carousel__btn--prev"
                  data-action="carousel#prev">‹</button>

          <button class="carousel__btn carousel__btn--next"
                  data-action="carousel#next">›</button>
        </div>
      </div>
    <% else %>
      <div class="carousel-container">
        <div class="no-image">
          <p>Aucune image pour cette chambre.</p>
        </div>
      </div>
    <% end %>
    <div class="room-info">
      <h2><%= room.title %></h2>
      <div class="room-meta">
        <p><strong>Taille</strong><span><%= room.size %></span></p>
        <p><strong>Capacité</strong><span><%= room.capacity %> personnes</span></p>
        <p><strong>Lits</strong><span><%= room.bed_count %></span></p>
        <p><strong>Prix</strong><span><%= number_to_currency(room.price, unit: "€") %> / nuit</span></p>
      </div>
      <p class="features"><strong>Équipements :</strong> <%= room.features %></p>
    </div>
  </div>
<% end %>
</section>
<div id="lightbox" class="lightbox hidden" data-controller="lightbox" data-lightbox-target="container" data-action="click->lightbox#close">
  <img src="" alt="Image agrandie" class="lightbox-image" data-lightbox-target="image" />
  <button class="lightbox-close" data-action="lightbox#close">×</button>
</div>
<%= render "components/footer" %>
